body{
    font-family: 'Press Start 2P', cursive;
    background: url("https://thumbs.dreamstime.com/b/hot-pink-background-old-vintage-grunge-bubble-texture-bright-vibrant-color-design-155865831.jpg");
}
.players{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top:70px;
}

.cards{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

.players-names{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:flex-start;
    margin-top:-560px;
}

.card-adalberto,.card-natalia,.card-geovanni{
    background:royalblue;
    border-style:dotted;
    border-radius:10px;
    width:400px;
    text-align:center;
    height:230px;
    line-height:50px;
    font-size:0.6em;
    padding:10px;
}

.card-adalberto:hover,.card-natalia:hover,.card-geovanni:hover{
    color:lawngreen;
    border-color:black;
}
.adalberto, .geovanni, .natalia{
    border-style:dotted;
    border-radius:10px;
    height:220px;
    width:220px;
    background:royalblue;
    transition:0.5 all;
}

.adalberto:hover, .geovanni:hover, .natalia:hover{
    opacity: 0.8;
    transform:scale(1.025);
}

.name-adalberto:hover, .name-geovanni:hover,.name-natalia:hover{
    color:antiquewhite;
}

.choose-player{
    background:lawngreen;
    width:200px;
    height:25px;
    font-size:1.1em;
    border-style:groove;
    border-radius:10px;
    cursor:pointer;
    transition:1s all;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-end;

}

.choose-player:hover{
    color:yellow;
    background:crimson;
    transform: scale(1.2)
}

.choose-button{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-end;
    margin-top:-85px;
}

